<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:jpa="http://www.springframework.org/schema/data/jpa"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/data/jpa
 https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
 
 <bean id="X" class="com.Spring.entity.Student">
 <constructor-arg name="id" value="101"/>
 <constructor-arg name="sname" value="Niladri"/>
 <constructor-arg name="email" value="niladri@gmail.com"/>
 <constructor-arg name="phone" value="9874563210"/>
 </bean>
 
 <bean id="Y" class="com.Spring.entity.Person">
 <property name="name" value="Niladri">
 </property>
 </bean>
 
 <bean id="Z" class="com.Spring.entity.Employee">
 <constructor-arg type="int" value="10"/>
 </bean>
 
 <bean id="W" class="com.Spring.entity.Employee">
 <constructor-arg  value="Niladri"/>
 </bean>
 
  <bean id="L" class="com.Spring.entity.Employee">
 <constructor-arg type="int" value="10"/>
 <constructor-arg  value="Niladri"/>
 </bean>
 
 <bean id="add" class="com.Spring.entity.Address">
 <constructor-arg  value="kolkata"/>
 <constructor-arg  value="WB"/>
 <constructor-arg  value="India"/>
 
 </bean>
 
 <bean id="emp" class="com.Spring.entity.Emp1">
 <constructor-arg type="int" value="10"/>
 <constructor-arg  value="Niladri"/>
 <constructor-arg><ref bean="add"/></constructor-arg>
 </bean>
 
 <bean id="mcq" class="com.Spring.entity.Mcq">
 <constructor-arg  value="10"/>
 <constructor-arg  value="Define Spring"/>
 <constructor-arg>
 <list>
 <value>spring is a frame work</value>
 <value>spring is a collection</value>
 <value>spring is a list</value>
 </list>
 </constructor-arg>
 </bean>
 
 
 
 
 
 
 </beans>